<a href="https://colab.research.google.com/github/aditya-kote2005/DSBDA/blob/main/Untitled3_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
data = {
    "Name": ["A", "B", "C", "D", "E", "F"],
    "Age": [25, 30, 45, 35, 60, 28],
    "Gender": ["Male", "Female", "Male", "Female", "Male", "Female"],
    "Income": [30000, 40000, 55000, 48000, 70000, 42000]
}

In [9]:
df = pd.DataFrame(data)

In [10]:
summary = df.groupby("Gender")["Income"].agg(
    Mean="mean",
    Median="median",
    Minimum="min",
    Maximum="max",
    Standard_Deviation="std"
)

In [11]:
print(summary)

                Mean   Median  Minimum  Maximum  Standard_Deviation
Gender
Female  43333.333333  42000.0    40000    48000         4163.331999
Male    51666.666667  55000.0    30000    70000        20207.259422

In [12]:
income_mean_list = df.groupby("Gender")["Income"].mean().tolist()
print(income_mean_list)

[43333.333333333336, 51666.666666666664]